<footer id="footer">
  <div class="outer">
    <div id="footer-info">
        <div class="footer-left">
          &copy; <%= date(new Date(), 'YYYY') %> <a href="https://octocat9lee.github.io" target="_blank"><%= config.author || config.title %></a>
        </div>
        <span id="busuanzi_container_site_pv">
          本站总访问量<span id="busuanzi_value_site_pv"></span>次
        </span>
        <span id="busuanzi_container_site_uv">
          本站访客数<span id="busuanzi_value_site_uv"></span>人次
        </span>
        <!--
        <div class="footer-right">
          <a href="https://octocat9lee.github.io" style="font-weight: bold">章鱼猫</a>
        </div>
        -->
    </div>
  </div>
</footer>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
